/* Paging */
ul {
    list-style: none;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.pagination .pageNumber {
    font-size: 16px;
    font-weight: 600;
    color: #00a8ff;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.pagination .pageNumber:hover {
    color: #fff;
    background: #a7a5c8;
}

.pagination .active {
    color: #fff;
    background: #2626e3;
}

.pagination .active:hover {
    color: #00a8ff;
    background: #0f38e9;
}